
@{
    Layout = "~/Views/_BasicLayout.cshtml"; 
    ViewBag.Title = "Главная";
}

<div>
    @ViewBag.Greeting, спасибо, что зашли
    <p> @Html.ActionLink("Посмотрите, кто уже здесь", "OutputData") </p>
</div>
